<%- include ('header.ejs') %>
<div class="container">
  <h1 class="title">Dungeon World Monster Generator</h1>
</div>

<section id="generator">
  <div class="controlsBox container">
    <h2>Monster erschaffen</h2>

    <form class="controls" id="controls" action="/" method="post">

      <h4>Welche Taten kennt man von ihm? (Sein erster Spielzug)</h4>
      <textarea name="moveInput" rows="2" cols="80" form="controls"></textarea>

      <h4>Was will es, das anderen Probleme verursacht? (Sein Instinkt)</h4>
      <textarea name="instinctInput" rows="2" cols="80" form="controls"></textarea>

      <h4>Wie jagt oder kämpft es normalerweise?</h4>
      <input type="radio" name="grpRadio1" checked="checked" id="grpRadio1"><label for="grpRadio1"> In großen Gruppen: Horde, W6 Schaden, 3 TP</label>
      <br>
      <input type="radio" name="grpRadio2" id="grpRadio2"><label for="grpRadio2"> In kleinen Gruppen, zwischen 2 und 5: Gruppe, W8 Schaden, 6 TP</label>
      <br>
      <input type="radio" name="grpRadio3" id="grpRadio3"><label for="grpRadio3"> Für sich alleine: Einzelgänger, W10 Schaden, 12 TP</label>

      <h4>Wie groß ist es?</h4>
      <input type="radio" name="sizRadio1" checked="checked" id="sizRadio1"><label for="sizRadio1">Kleiner als eine Hauskatze: Winzig, <i>Hand</i>, -2 Schaden</label>
      <br>
      <input type="radio" name="sizRadio2" id="sizRadio2"><label for="sizRadio2">Halblingsartig: Klein, <i>kurz</i></label>
      <br>
      <input type="radio" name="sizRadio3" id="sizRadio3"><label for="sizRadio3">etwa Menschengroß: <i>kurz</i></label>
      <br>
      <input type="radio" name="sizRadio4" id="sizRadio4"><label for="sizRadio4">So groß wie ein Wagen: Groß, <i>kurz, lang </i> + 4 TP, +1 Schaden</label>
      <br>
      <input type="radio" name="sizRadio5" id="sizRadio5"><label for="sizRadio5">Viel Größer als ein Wagen: riesig, <i>Lang</i>, +8 TP, +3 Schaden</label>

      <h4>Was ist seine wichtigste Verteidigung?</h4>
      <input type="radio" name="defRadio1" checked="checked" id="defRadio1"><label for="defRadio1">Kleidung oder Fleisch: 0 Rüstung</label>
      <br>
      <input type="radio" name="defRadio2" id="defRadio2"><label for="defRadio2">Leder oder zähe Haut: 1 Rüstung</label>
      <br>
      <input type="radio" name="defRadio3" id="defRadio3"><label for="defRadio3">Kettengeflecht oder Schuppen: 2 Rüstung</label>
      <br>
      <input type="radio" name="defRadio4" id="defRadio4"><label for="defRadio4">Platten oder Knochen: 3 Rüstung</label>
      <br>
      <input type="radio" name="defRadio5" id="defRadio5"><label for="defRadio5">Permanenter magischer Schutz: 4 Rüstung, Magisch</label>

      <h4>Wofür ist es bekannt? (Wähle alles Zutreffende)</h4>
      <input type="checkbox" name="strCheck" id="strCheck"><label for="strCheck">Unbeugsame Stärke: + 2 Schaden, Wuchtig</label>
      <br>
      <input type="checkbox" name="skilledAtkCheck" id="skilledAtkCheck"><label for="skilledAtkCheck">Geschickter Angriff: Würfle zweimal Schaden und nimm das höhere Ergebnis</label>
      <br>
      <input type="checkbox" name="skilledDefCheck" id="skilledDefCheck"><label for="skilledDefCheck">Geschickte Verteidigung: + 1 Rüstung</label>
      <br>
      <input type="checkbox" name="deftStrikeCheck" id="deftStrikeCheck"><label for="deftStrikeCheck">Geschickte Hiebe: +1 Durchdringung</label>
      <br>
      <input type="checkbox" name="endurCheck" id="endurCheck"><label for="endurCheck">Unheimliche Ausdauer: +4 TP</label>
      <br>
      <input type="checkbox" name="trickeryCheck" id="trickeryCheck"><label for="trickeryCheck">Täuschung und List: Heimlich, schreibe einen Spielzug über schmutzige Tricks</label>
      <br>
      <div class="trickeryDiv">
        <textarea name="trickeryInput" id="trickeryInput" rows="2" cols="80" form="controls"></textarea>
      </div>
      <input type="checkbox" name="adaptationCheck" id="adaptationCheck"><label for="AdaptationCheck">Eine nützliche Anpassung wie Flügel oder amphibische Lebensweise: füge eine Anpassung als
        Besonderheit hinzu</label>
      <br>
      <div class="adaptationDiv">
        <label class="" for="adaptationInput">Anpassung (1 Wort): <input type="text" name="adaptationInput" id="adaptationInput"> </label>
      </div>
      <input type="checkbox" name="godsCheck" id="godsCheck"><label for="godsCheck">Gunst der Götter: Göttlich und...(deine Entscheidung)</label>
      <br>
      <div class="godsDiv">
        <input type="radio" name="godsRadio1" id="godsRadio1" checked="checked"><label for="godsRadio1">+2 Schaden</label>
        <input type="radio" name="godsRadio2" id="godsRadio2"><label for="godsRadio2">+2 TP</label>
        <input type="radio" name="godsRadio3" id="godsRadio3"><label for="godsRadio3">beides</label>
      </div>

      <input type="checkbox" name="magicCheck" id="magicCheck"><label for="magicCheck">Zauber und Magie: Magisch,schreibe einen Spielzug über seine magischen Fähigkeiten</label>
      <br>
      <div class="magicDiv">
        <textarea name="magicInput" id="magicInput" rows="2" cols="80" form="controls"></textarea>
      </div>

      <h4>Was ist seine übliche Angriffsart?</h4>
      <label for="atkTypeInput">Angriffsart (z.B. Waffe, Klauen, Zauberspruch): <input type="text" name="atkTypeInput" id="atkTypeInput"></label>

      <input type="checkbox" name="cruelWeaponCheck" id="cruelWeaponCheck"> <label for="cruelWeaponCheck">Seine Bewaffnung ist grausam und offensichtlich: + 2 Schaden</label>
      <br>
      <input type="checkbox" name="distanceWeaponCheck" id="distanceWeaponCheck"> <label for="distanceWeaponCheck">Sie hilft dem Monster dabei, andere auf Distanz zu halten: Lang</label>
      <br>
      <input type="checkbox" name="smallWeaponCheck" id="smallWeaponCheck"> <label for="smallWeaponCheck">Seine Bewaffnung ist klein und schwach: reduziere seinen Schadenswürfel um eine Kategorie</label>
      <br>
      <input type="checkbox" name="metalCheck" id="metalCheck"> <label for="metalCheck">Seine Bewaffnung kann Metall schneiden oder durchstoßen: Brutal und...</label>
      <br>
      <div class="metalDiv">
        <input type="radio" name="metalRadio1" id="metalRadio1" checked="checked"> <label for="metalRadio1">Durchdringung +1 oder</label>
        <input type="radio" name="metalRadio2" id="metalRadio2"> <label for="metalRadio2">Durchdringung +3, falles es Metall einfach zerreißen kann</label>
      </div>
      <input type="checkbox" name="ignoreWeaponCheck" id="ignoreWeaponCheck"> <label for="ignoreWeaponCheck">Rüstung hilft nicht gegen seinen Schaden (wegen Magie, Größe usw.): ignoriert Rüstung</label>
      <br>
      <input type="checkbox" name="rangedCheck" id="rangedCheck"> <label for="rangedCheck">Es greift für gewöhnlich aus der Entfernung an (mit Pfeilen, Zaubern oder anderen Projektilen):</label>
      <br>
      <div class="rangedDiv">
        <input type="radio" name="rangedRadio1" id="rangedRadio1" checked="checked"> <label for="rangedRadio1"><i>Nah</i></label>
        <input type="radio" name="rangedRadio2" id="rangedRadio2"> <label for="rangedRadio2"><i>Fern</i></label>
        <input type="radio" name="rangedRadio3" id="rangedRadio3"> <label for="rangedRadio3">beides</label>
      </div>

      <h4>Welche der folgenden Punkte beschreiben es? (Wähle alle passenden)</h4>
      <input type="checkbox" name="deceitfulCheck" id="deceitfulCheck"> <label for="deceitfulCheck">Es sind nicht die von ihm geschlagenen Wunden, die es so gefährlich machen. Verschlagen, reduziere den
        Schadenswürfel um eine Kategorie, schreibe einen Spielzug darüber, was es so gefährlich macht:</label>
      <br>
      <div class="deceitfulDiv">
        <textarea name="deceitfulInput" rows="2" cols="80" form="controls"></textarea>
      </div>
      <input type="checkbox" name="grpCheck" id="grpCheck"> <label for="grpCheck">Es lebt in großen Gruppen, die ihm zur Hilfe eilen: Organisiert, schreibe einen Spielzug darüber, wie es andere zur Hilfe
        ruft:</label>
      <br>
      <div class="grpDiv">
        <textarea name="grpInput" rows="2" cols="80" form="controls"></textarea>
      </div>
      <input type="checkbox" name="intelCheck" id="intelCheck"> <label for="intelCheck">Es ist ungefähr so intelligent wie ein Mensch: Intelligent</label>
      <br>
      <input type="checkbox" name="shieldCheck" id="shieldCheck"> <label for="shieldCheck">Es verteidigt sich aktiv mit einem Schild oder Ähnlichem: Vorsichtig, +1 Rüstung</label>
      <br>
      <input type="checkbox" name="hoardCheck" id="hoardCheck"> <label for="hoardCheck">Es sammelt Dinge, die Menschen als wertvoll betrachten (Gold, Edelsteine, Geheimnisse): Sammler</label>
      <br>
      <input type="checkbox" name="externarCheck" id="externarCheck"> <label for="externarCheck">Es ist nicht von dieser Welt: Externar, schreibe einen Spielzug darüber, wie es sein außerweltlcihes Wissen uns
        seine
        Macht einsetzt.</label>
      <br>
      <div class="externarDiv">
        <textarea name="externarInput" rows="2" cols="80" form="controls"></textarea>
      </div>
      <input type="checkbox" name="unliveCheck" id="unliveCheck"> <label for="unliveCheck">Es wird von etwas Unnatürlichen am Leben erhalten: +4 TP</label>
      <br>
      <input type="checkbox" name="constructCheck" id="constructCheck"> <label for="constructCheck">Es wurde von Jemandem erschaffen: Konstrukt. Gib ihm ein oder 2 Besonderheiten, die mit seiner Erschaffung oder
        seinem Exitenzgrund zusammenhängen.</label>
      <br>
      <div class="constructDiv">
        <label for="constructInput1">Besonderheit 1: <input type="text" name="constructInput1" id="constructInput1"></label>
        <label for="constructInput2">Besonderheit 2: <input type="text" name="constructInput2" id="constructInput2"></label>
      </div>
      <input type="checkbox" name="terribleCheck" id="terribleCheck"> <label for="terribleCheck">Seine Erscheinung ist verstörend, schrecklich oder furchtbar: Furcherregend, schreibe eine Besonderheit darüber,
        warum es so schrecklich ist.</label>
      <br>
      <div class="terribleDiv">
        <label for="terribleInput">Besonderheit 1: <input type="text" name="terribleInput" id="terribleInput"></label>
      </div>
      <input type="checkbox" name="amorphousCheck" id="amorphousCheck"> <label for="amorphousCheck">Es hat keine Organe oder erkennbare Anatomie: Amorph, +1 Rüstung, +3 TP</label>
      <br>
      <input type="checkbox" name="oldCheck" id="oldCheck"> <label for="oldCheck">Es (oder seine Art) ist uralt - älter als Menschen, Elfen und Zwerge: erhöhe seinen Schadenwürfel um eine Kategorie</label>
      <br>
      <input type="checkbox" name="pacifistCheck" id="pacifistCheck"> <label for="pacifistCheck">Es schreckt vor Gewalt zurück: würfel zweimal Schaden und nehmen das niedrigere Ergebnis</label>

      <h4>Wie heißt dein Monster? </h4>
      <textarea name="monsterNameInput" rows="1" cols="80" form="controls"></textarea>

      <button class="button-primary" name="createMonsterBtn" id="createBtn">Monster erstellen</button>

    </form>

  </div>

  <br>

</section>

<%- include ('footer.ejs') %>
